body
  font-family: Helvetica, Arial, sans-serif

ul
  @include no-bullets
  margin: 0
  padding: 0
  li
    margin: 0
    padding: 0

.work
  @include clearfix
  margin:
    bottom: 10px
  padding:
    left: 110px
  padding-bottom: 10px
  border-bottom: 1px solid #ddd
  img
    float: left
    margin-left: -110px
  h1
    font-size: 18px
    margin-top: 0
  .subtitle
    color: #696969
    font-size: 14px

a.doi
  text-decoration: none
  &:link
    color: #666
  &:visited
    color: #999

.left-panel
  width: 50%
  float: left
  padding: 10px 20px
  border-right: 1px solid #ccc

.right-panel
  width: 50%
  float: right
  padding: 10px 20px

#profile-form-container
  text-align: center

#orcid-profile-results,
#orcid-profile-results-loading
  display: none


#graph
  height: 600px




.profile-loading-indicator
  position: absolute
  top: 220px
  left: 50%
  margin-left: -88px
  .loading-title
    position: relative
    top: -50px
    color: #aaa
    text-transform: uppercase

.loader_wrapper
  +animation(animball_two 1000ms infinite linear)
  width: 176px
  height: 176px

.loader_element
  width: 176px
  height: 176px
  position: absolute

.ball
  width: 80px
  height: 80px
  border-radius: 50%
  position: absolute
  +animation(animball_one 1000ms infinite linear)

.ball_1
  background-color: #FF0000
  top: 0
  left: 0

.ball_2
  background-color: #FFC200
  top: -20px
  left: 48px

.ball_3
  background-color: #9f79f2
  top: 0
  left: 96px

.ball_4
  background-color: #74CFED
  top: 48px
  left: 124px

.ball_5
  background-color: #2445BD
  top: 96px
  left: 96px

.ball_6
  background-color: #E065BB
  top: 124px
  left: 48px

.ball_7
  background-color: #D5E8F0
  top: 96px
  left: 0

.ball_8
  background-color: #94DB5E
  top: 48px
  left: -20px

+keyframes(animball_one)
  0%
    position: absolute
  50%
    top: 48px
    left: 48px
    position: absolute
    opacity: 0.5
  100%
    position: absolute


+keyframes(animball_two)
  0%
    +transform(rotate(0deg) scale(1))
  50%
    +transform(rotate(360deg) scale(1.3))
  100%
    +transform(rotate(720deg) scale(1))
