.loading-title
  This may take a while…
.loader_center
.loader_wrapper
  .loader_element
    .ball.ball_1  
  .loader_element
    .ball.ball_2  
  .loader_element
    .ball.ball_3  
  .loader_element
    .ball.ball_4  
  .loader_element
    .ball.ball_5  
  .loader_element
    .ball.ball_6  
  .loader_element
    .ball.ball_7  
  .loader_element
    .ball.ball_8  
