.notice
  %strong IMPORTANT NOTICE:
  This app was built as part of a #{link_to('hack day', 'https://www.altmetric.com/blog/altmetric-orcid-profiles/')} in 2014 and is
  %strong not a fully developed product.
  It will display Altmetric data only for items associated with the ORCID iD you enter that have a DOI.
  If you have questions, please email #{mail_to('support@altmetric.com')}.

