= render 'notice'

#logo

#profile-form-container
  %h1 Altmetric ORCID Profile
  %p.intro
    What is the wider social impact of your research? Now you can find out – just enter your ORCID iD in the box below, and we'll find out who's talking about your research - and what they're saying.
  = render 'profile_form'
