%h1 Profile for #{ @orcid_profile.name }
%h2 Works
%ul
  - @orcid_profile.works.each do |work|
    %li.work
      - if ama = work.altmetric_article
        %a{href: ama.details_uri, target: :_blank}
          %img{src: ama.badge_uri}
      %h3= work.title
      %h4= work.doi
